body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.titan{
    background-color: blue;
    margin:0;
}
.title{
    text-align: center;
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: white;
    margin: 6%;
    padding: 0;
    font-weight: 300;
    text-decoration: 3px underline rgb(0, 162, 184);
}
.header {
    width: 80%;
    height: 100%;
    z-index: 111;
    overflow: hidden;
    border: 2px solid rgb(0, 162, 184);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.header video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}