/* .formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    margin: 0 auto;
    width: 50%;
    gap: 10px;
    padding: 0 ;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem rgb(0, 162, 184);
    transition: all 0.3s ease-in-out;
}   */
/* Example CSS styles for the form */
.formu {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0.5rem 0.25rem rgb(0, 162, 184);
    margin-bottom: 250px;
  }
  
  .formu h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .formu label {
    display: block;
    margin-bottom: 10px;
  }
  
  .formu input[type="text"],
  .formu input[type="number"],
  .formu input[type="email"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid rgb(29,29,29);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .formu input[type="text"]:focus,
  .formu input[type="number"]:focus,
  .formu input[type="email"]:focus {
    outline: none;
    border-color: #007bff; /* Change to the color you prefer on focus */
  }
  
  .formu button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid rgb(29,29,29);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formu button[type="submit"]:hover {
    background-color: #0056b3; /* Change to a darker shade for hover effect */
  }
  