nav{
    width: 100%;
    height: 5vh;
    background-color: rgb(29, 29, 29);
    box-sizing: border-box;
    margin: 0;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    border-radius: 40% 0 0 40%;
    border: 4px solid rgb(0, 162, 184);
    padding: 1.5%;
}
nav img{
    width: 8%;
    border-radius: 50%;
    border: 2px solid rgb(172, 245, 255);
}
.link_img{
    width: 10%;
    text-align: center;
}
.link_img img{
    width: 35%;
}
.navBorderColor{
    border: 3px solid rgba(0, 0, 0, 0);    
    border-radius: 0;
}
.navBorderColor img{
    display: none;
}

.currentTitle{
    display: block;
    text-align: center;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 300;
    width: 40%;
}
.link_img_current {
    width: 10%;
    text-align: center;
}
.link_img_current img{
    width: 50%;
}

.notCurrentTitle{
    display: none;
}

ul{
    display: flex;
    gap: 5%;
    justify-content: end;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    
}
.portada{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.portadaimg{    
    width: 100%;
    height: 230px;
    object-fit: cover;
    background-color: rgb(29, 29, 29);
    margin: 0;
    padding: 0;  
    clip-path: polygon(100% 100%, 5% 70%, 0% 0%, 100% 0%, 100% 100%);
}
.logo2{    
    position: absolute;
    width: 8%;
    border-radius: 50%;
    border: 2px solid rgb(172, 245, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    
  top: 50%;
  left: 7%; 
  transform: translate(-50%, -50%); 
}
.portadatitle{
    position: absolute;
  top: 35%; 
  left: 35%; 
  transform: translate(-50%, -50%);
  
    padding: 5px;    
    font-size: 300%;
    color: #000;
    box-shadow: 5px 5px 10px rgb(0, 0, 0); 
    
}

li{
    list-style: none;
    margin: 0 1rem;
    color: white;
    font-size: 125%;
    font-weight: 500;
    cursor: pointer;    
}
li:hover {
    color: rgb(0, 162, 184);
    border-radius: 30%;
    border: 2px solid rgb(0, 162, 184);
    background-color: rgb(29, 29, 29);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: 0.5s;
    padding: 0 1%;
}

a{
    text-decoration: none;
    color: white;
}
.title{
    color: rgba(172, 245, 255, 0.205);
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
    display: flex;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.products{
    list-style: none;
    padding: 0;
    margin: 0;    
}
.products_list {        
    width: 15%;
    display: none;
    position: absolute;
    border: none;    
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 1%;    
}
.products_list li{       
    text-align: center;
    border-radius: 30%;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 3% 0;
    margin: 1% 0;
    border: 2px solid rgb(0, 162, 184);
    background-color: rgb(29, 29, 29);
    font-family: monospace;
}
.products:hover .products_list {
    display: block;        
    }
.products_list li:hover{
    background-color: rgb(0, 162, 184);
    border: 2px solid rgb(29, 29, 29);
}
.products_list li:hover a{
    color: rgb(29, 29, 29);    
}
.agri_drone{
    list-style: none;
    padding: 0;
    margin: 0;  
}
.drone_list{
    width: 100%;
    display: none;
    position: absolute;
    border: none;    
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 10%;       
    margin-left: 90%;    
    margin-top: -20%;
    padding-left: 10%;
}

.drone_list li{       
    text-align: center;
    border-radius: 30%;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    padding: 3% 10%;
    margin: 1% 0;
    border: 2px solid rgb(0, 162, 184);
    background-color: rgb(29, 29, 29);
    font-family: monospace;
}
.agri_drone:hover .drone_list {
    display: block;   
    }

.agri_drone:hover .drone_list li a{        
    color: white;
    text-decoration: none;
    font-size: 80%;   
 }

 .agri_drone .drone_list li:hover{
    background-color: rgb(0, 162, 184);
    border: 2px solid rgb(29, 29, 29);   
    
}
.agri_drone .drone_list li:hover a{
    color: black;
    text-decoration: none;
    font-size: 100%;
    width: 100%;
}